@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color:gray;
    font-family:'Times New Roman', Times, serif
}
.wrapper{
    margin-top: 1%;
    width:100vw;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(4, 1fr);

}

.wrapper .container1{
    /* margin-top: 0%;
    margin-left: 20%; */
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}
.wrapper  .container1 h1{
    font-family: 'Allura', cursive;
    font-size: 4em;
    font-weight: bold;
    /* font: 2.5em 'Allura'; */
    margin-bottom: 0.5em;
    text-align: center;
    color: #3cdfff;
}
.skills{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap:wrap;
    flex-shrink: calc();
    
}

.skills .specificskill{
    background-color:aliceblue;
    margin: 4px;
    margin-bottom: 50px;
    width:300px;
    padding: 7px;
    position: relative;

}
.skills .specificskill h3{
    color:blue;
    font-size: large;
    margin-top: 50px;

}

.wrapper .container2{
    /* margin-top:0%;
    margin-right:55%;
    margin-left: 0%;
    margin-bottom: 70%; */
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;

}

.wrapper  .container2 h3{
    font-family: 'Allura', cursive;
    font-size: 1em;
    /* font: 2.5em 'Allura'; */
    margin-bottom: 0.5em;
    /* text-align: center; */
    color: #3cdfff;
}