@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color:#dfe9f5;
    font-family:'Times New Roman', Times, serif
}
.wrapper{
   
    width:100vw;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(4, 1fr);

}

.wrapper .container1{
    
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: 3;
}
 h1{
    font-family: 'Allura', cursive;
    padding: auto;
    margin-top: 0.5em;
    font-size: 4em;
    font-weight: bold;
    
    text-align: center;
    color: #02788f;
}
 .container4 h1{
    
    margin-top: 0.1em;
    padding: auto;
   
}
.skills{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap:wrap;
    flex-shrink: calc();
    
}

.skills .specificskill{
    background-color:#d4dfeb;
    
    margin: 0.5px;
    margin-bottom: 50px;
    width:300px;
    padding: 0px;
    position: relative;
    border-color: black;

}
.skills .specificskill h3{
    color:blue;
    font-size: large;
    margin-top: 0px;

}

.wrapper .container2{
    margin: 5px;
    margin-left: 1em;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dfe9f5;    
    
}

.wrapper  .container2 h3{
    font-family: 'Allura', cursive;
    font-size: 2em;
    margin-top: 10%;
    margin-bottom: 1em;
    color: #3cdfff;
   
}
.container2 #aboutA{
    background-color: #dfe9f5;
    margin: 2px;
    margin-top: 0px;
    height: 33%;
    text-align: center;
    line-height: 20px;
    position: relative;
}

.container2 #aboutA #aboutAImage{
    width: 100px;
    height: 100px;
    margin-top: 5px;
    position:relative;
    left:50%;
    transform: translateX(-50%);

    border-radius: 80%;
    background: #dfe9f5;
}
.container2 #aboutA #aboutAImage img{
    width: 100px;
    height: 100px; 
    border-radius: 80%;
   padding: auto;
    
}

.container2 #aboutB{
    background-color:#dfe9f5;
    margin: 2px;
    margin-top: 2px;
    height: 33%;
    text-align: center;
    line-height: 20px;
    position: relative;
}
.container2 #aboutC{
    background-color: #dfe9f5;
    margin: 2px;
    margin-top: 5px;
    height: 33%;
    line-height: 20px;
    
    text-align:center;  
}

nav{
    display: flex;
    margin-left: 80%;
    position: relative;
    top: 0;
    bottom:0;
    right:0;
    height: 100%;
    background-color: #ffffff;
    width:90px;
    overflow: hidden;
    transition: width 0.2s linear;
    text-align: center;
}
.navlinks{
    flex: 1;
    text-align: left;
}

.wrapper .container3{
    
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: 1;
    display:flex;
    flex-direction:row;
   
    background-color: #dfe9f5;      
}
.container3 .intro{
    background-color:#dfe9f5;
    padding: 5px;
    margin-top: 3em;
    width: 70%;
    height: 33%; 
    text-align:center;
     flex-wrap: wrap;
     flex-direction: column;
    line-height: 20px;
    position: relative;
}
span{
    color:blue;
}
button{
    color: black;
    background-color: green;
    border-color: green;
    align-items: center;
}
 .container3 .imageB{
    width: 10px;
    height: 200px;
    position:relative;
    left:0%;
    transform: translateX(-100%); 
    border-radius: 80%;
    background: #dfe9f5;
}

.container3 .imageB img{
    width: 200px;
    height: 300px; 
    image-rendering: auto;
    image-orientation: flip;
    border-radius: 150%; 
    
    
}
.wrapper .container4{
   margin-top: 0%;
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 4;
    grid-row-end: 4;
}
.container4 h1{
    color:midnightblue
}
a{
    text-decoration: none;
    color:navy;
}
p em{
    color: slateblue;
    height: auto;
}
ul{
    align-items: center;
    display:inline-block;
    text-align: left;
}
#copyrightdetails{
    text-align: center;
    color: indigo;
}


